compiled/okay (Harmony)/Artifact System Drop Framework & Geodes Handler/drops.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="AddOrUpdate" />
      <xs:enumeration value="Add" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="ID">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedInt">
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="Name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[a-zA-Z0-9]+"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="Odds">
    <xs:simpleType>
      <xs:restriction base="xs:double">
        <xs:minInclusive value="0.0"></xs:minInclusive>
        <xs:maxInclusive value="1.0"></xs:maxInclusive>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="Weight">
    <xs:simpleType>
      <xs:restriction base="xs:double">
        <xs:minInclusive value="0.0"></xs:minInclusive>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="Count">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedShort">
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="Condition">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:complexType name="Loot">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="Odds" use="required" />
        <xs:attribute ref="Count" use="optional" />
        <xs:attribute ref="Condition" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Treasure">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="Weight" use="required" />
        <xs:attribute ref="Count" use="optional" />
        <xs:attribute ref="Condition" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ArcheologyTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Loot" type="Loot" />
          </xs:sequence>
          <xs:attribute name="Name" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="DropData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ArtifactSystem">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="PrimaryTable" type="ArcheologyTable" />
              <xs:element minOccurs="0" maxOccurs="1" name="SecondaryTable" type="ArcheologyTable" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="GeodeSystem">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="OldGeode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Treasure" type="Treasure" />
                  </xs:sequence>
                  <xs:attribute ref="ID" use="required" />
                  <xs:attribute name="Behavior" type="action" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="NewGeode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Treasure" type="Treasure" />
                  </xs:sequence>
                  <xs:attribute name="Name"         type="xs:string" use="required" />
                  <xs:attribute name="TreasureOdds" type="xs:double" use="optional" />
                  <xs:attribute name="Behavior"     type="action"    use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ConditionSets">
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
              <xs:element minOccurs="1" maxOccurs="unbounded" name="ConditionSet">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Season">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="(spring|summer|fall|winter)(\|(spring|summer|fall|winter))*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Year">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9|~]+"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="DayOfMonth">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9|~]+"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeRange">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"></xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Condition">
                      <xs:simpleType>
                        <xs:restriction base="xs:string"><xs:pattern value="((not |!)\s*)?[a-zA-Z0-9]+"/></xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute ref="Name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Format" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
